<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/research.html">Research</a></li>
            <li><a href="/teaching.html">Courses</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/cv.html">CV</a></li>
        </ul>
    </nav>
    
    <div class="container">
        <div class="blurb">
            {{ content }}
        </div>
    </div>
    
    <footer>
        <ul>
            <li><a href="mailto:{{ site.email }}">email</a></li>
            <li><a href="https://github.com/{{ site.github_username }}">github.com/{{ site.github_username }}</a></li>
        </ul>
    </footer>
</body>
</html>
